<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGridExtensions" version="1.0.14.0" targetFramework="net45" />
  <package id="DataGridFilter" version="1.0.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="ModernUI" version="1.1.0.1" targetFramework="net45" />
</packages>